.mainDiv{
   margin-top: 10px;
    /* border:1px solid yellow; */
    height:auto;
}

.one{
    /* border:1px solid red; */
    height:500px;
    width:80%;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,max-content));
   
    padding:30px;
    gap:20px;
   


}

@media only screen and (min-width: 769px) and (max-width: 960px) {
    .MainItem {
       columns: 2;
    }
  }





  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* default grid layout with 4 sub-divisions */
    grid-gap: 0px;
    height:auto;
    /* border:1px solid red; */
    width:94%;
    margin: auto;

  }
  
  @media screen and (max-width: 1024px) {
    .container {
      grid-template-columns: repeat(2, 1fr); /* 2 sub-divisions for tablet screen */
    }
    .box {
      height: 800px; /* set height for tablet screens */
    }
  }
  
  @media screen and (max-width: 768px) {
    .container {
      grid-template-columns: 1fr; /* 1 sub-division for mobile screen */
    }
    .box {
      height: 150px; /* set height for mobile screens */
      margin-top: -30px;
    }
  }
  
  .box {
   
    padding: 20px;
   
    height: 800px; /* default height for laptop screens */
  }
  

