
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 35px !important;
  line-height: 1;
  opacity: 0.75;
  color: rgb(31, 29, 29) !important;
  /* color: yellow !important; */
  margin-left: -5.5px;
  display: none!important;
}

.slick-slide > div {
    margin: 0 30px;
  }
  
  .slick-list {
    margin: 0 -10px;
  }



.Slide2 {
    /* border: 1px solid black; */
    padding: 24px;
    width: 85%;
    margin: auto;
    border-radius: 30px;
    
  }

  .Slider-card {
    /* border: 1px solid rgb(227, 49, 78); */
   
    height: 330px;
   width: 20%;
   
  
    border-radius: 30px;
    /* gap: 100px; */
   
   
    
  }